
<!DOCTYPE html>
<html>
<head>
	
	<title>Frames</title>
</head>
<body>
	<h1>Jspiders</h1>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.258764299626!2d77.69782017489533!3d12.955286815236068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13afc62813f9%3A0xdcf1837520b28dfa!2sJSpiders%20Marathahalli!5e0!3m2!1sen!2sin!4v1693283010330!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<h2>Nayagara falls</h2>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.03211878001!2d-79.07673782411283!3d43.08282008913473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d34307412d7ae9%3A0x29be1d1e689ce35b!2sNiagara%20Falls!5e0!3m2!1sen!2sin!4v1693283324600!5m2!1sen!2sin" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<h1>Dreamers</h1>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CABHewbnN6I?si=JOX1ZPVIKKN6z1Js" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</body>
</html>